@keyframes rota3 {
    to {
        transform: rotate(-35deg)
    }
}

/* @keyframes rota2 {
    0% {
        transform: rotateZ(0)
    }

    to {
        transform: rotateZ(360deg)
    }
} */

@keyframes welcome {
    50% {
        color: #4E954E
    }

    80%,
    90% {
        color: #074307;
    }
}

/* .rotate {
    animation: .2s rota2 linear infinite
} */

body,
html {
    height: 100%
}

body {
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #222;
    font: 16px/1.5 Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    align-items: center
}

footer,
footer span,
label {
    display: block
}

footer {
    background: radial-gradient(#000 28%, transparent 35%) -1px -1px/14px 14px, radial-gradient(#222 28%, transparent 40%) 0 0/14px 14px, radial-gradient(#000 28%, transparent 35%) -8px -8px/14px 14px, radial-gradient(#222 28%, transparent 40%) 7px -7px/14px 14px #111;
    height: 50px;
    width: 100%;
    color: #777;
    text-align: right;
    overflow: hidden;
    position: relative
}

footer span::after {
    content: "This project was designed with a hope to reduce discrimination. by Kostas Šliažas";
    width: 100%;
    height: 20px;
    line-height: 20px
}

footer span {
    padding: 0 1em;
    background: #111;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    box-shadow: 0 3px 2px #000
}

* {
    box-sizing: border-box
}

.navw,
nav {
    margin: 0 auto
}

.navw,
footer span::after {
    display: block;
    position: relative
}

.navw {
    width: calc(100vw - 14px);
    height: calc(100vh - 98px);
    text-align: center
}

.navw::before {
    content: "";
    display: block;
    padding-top: 100%;
    line-height: 0;
    font-size: 0
}

nav {
    padding-top: 100%;
    position: absolute;
    left: 0;
    height: auto
}

body,
h1,
ul {
    margin: 0
}

nav,
ul {
    width: 100%;
    top: 0;
    overflow: hidden;
    display: block
}

ul {
    height: 100%;
    transform-style: preserve-3d;
    transition: 2s transform;
    font-size: 0;
    padding: 0;
    backface-visibility: hidden;
    border: 4px dotted #540909;
    /* box-shadow: 0 -55px 0 -48px #990c56, 0 55px 0 -48px #990c56, 55px 0 0 -48px #990c56, -55px 0 0 -48px #990c56, -39px -39px 0 -48px #990c56, 39px -39px 0 -48px #990c56, -39px 39px 0 -48px #990c56, 39px 39px 0 -48px #990c56, -22px -51px 0 -48px #990c56, -51px 22px 0 -48px #990c56, 51px -22px 0 -48px #990c56, -51px -22px 0 -48px #990c56, 51px 22px 0 -48px #990c56, 22px 51px 0 -48px #990c56, -22px 51px 0 -48px #990c56, 22px -51px 0 -48px #990c56; */
    background:rgba(0, 0, 0, 0) radial-gradient(circle, rgb(93, 18, 18) 0px, rgb(93, 18, 18) 24px, rgb(96, 21, 21) 24px, rgb(96, 21, 21) 48px, rgb(99, 24, 24) 48px, rgb(99, 24, 24) 72px, rgb(102, 27, 27) 72px, rgb(102, 27, 27) 96px, rgb(105, 30, 30) 96px, rgb(105, 30, 30) 120px, rgb(108, 33, 33) 120px, rgb(108, 33, 33) 144px, rgb(111, 36, 36) 144px, rgb(111, 36, 36) 168px, rgb(114, 39, 39) 168px, rgb(114, 39, 39) 192px, rgb(117, 42, 42) 192px, rgb(117, 42, 42) 216px, rgb(120, 45, 45) 216px, rgb(120, 45, 45) 240px, rgb(123, 48, 48) 240px, rgb(123, 48, 48) 264px) repeat scroll 0% 0%;
}

.padding,
.padding::before,
nav::after {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%
}

nav::after,
ul {
    border-radius: 50%
}

nav::after {
    content: "";
    height: 10px;
    width: 10px;
    background: #eee
}

li,
nav::after,
ul {
    position: absolute
}

li {
    border-radius: 0 10px 10px 0;
    inset: 0;
    margin: auto;
    padding: 0 0 0 50%;
    box-sizing: border-box;
    height: max-content;
    white-space: nowrap;
    overflow: hidden;
}

li span {
    text-decoration: none;
    padding: 3%;
    font-size: 14px;
    background: #54090942;
    line-height: 20px;
    color: #E59A9A;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    text-align: left;
}

.padding,
.padding::before {
    position: fixed
}

.padding {
    z-index: 999;
    padding: 1em;
    width: 100%;
    margin: 0 auto;
    max-width: 480px;
}

.padding::before {
    content: "";
    display: block;
    background: #000c;
    height: 100vh;
    width: 100vw;
    z-index: -1
}

.inner {
    border-radius: 10px;
    background: #eee;
    position: relative;
    padding: 1em;
}

#text-input {
    width: 100%;
}

#close {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 0;
    appearance: none;
    background: #777;
    right: -14px;
    position: absolute;
    cursor: pointer;
    top: -14px
}

#close::after,
#close::before {
    border-left: 2px solid #eee;
    content: '';
    display: block;
    height: 30px;
    left: 23px;
    position: absolute;
    top: 10px;
    width: 0;
    z-index: 1
}

#close::before {
    transform: rotate(45deg)
}

#close::after {
    transform: rotate(-45deg)
}

#spin,
#text-wrap.hide {
    display: none
}

h1 {
    text-align: center;
    animation: welcome 1s steps(1, end) infinite;
    filter: drop-shadow(4px 4px 2px #000);
    text-shadow: 2px 2px 0 #327732, 2px -2px 0 #327732, -2px 2px 0 #327732, -2px -2px 0 #327732, 2px 0 0 #327732, 0 2px 0 #327732, -2px 0 0 #327732, 0 -2px 0 #327732
}

.arrow,
a,
h1 {
    color: #1B621B
}

#spin+label,
.arrow::before,
li,
li span {
    display: block
}

.arrow::before {
    transform: translate3d(-50%, 0, -1px);
    content: "";
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 40px solid #012;
    top: -20px;
    left: 50%;
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    transform-origin: center bottom
}

#spin[disabled=""]+label {
    background: #7B2121;
    border: #540909 solid 1px;
}

#spin[disabled=""]~.arrow::before {
    animation: rota3 .1s steps(2, end) alternate infinite
}

#spin+label:hover {
    color: #fff
}

#spin+label,
#toggle {
    background-color: #205a00;
    border: #074307 solid 1px;
    color: #e9e9e9;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    position: relative;
    transform-style: preserve-3d
}

#toggle {
    z-index: 111;
    margin: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: auto
}

#spin+label {
    width: 80%;
    z-index: 11;
    margin: 10px auto
}

@media (min-width:768px) {
    .navw {
        max-width: 30%
    }
}